:root {
    --brown-color: #563232;
    --grey-color: #bd9476;
    --black-color: #271810;
    --white-color: #e7cfb4;
}

body {
    font-family: sans-serif;
    margin: 20px;
    padding: 0;
    background-color: var(--grey-color);
}

.square {
    width: 35px;
    height: 35px;
    border: 1px solid var(--black-color);
    background-color: var(--white-color);
    font-size: 1.2rem;
    color: var(--black-color);
    cursor: pointer;
    font-weight: bold;
}

.board {
    display: flex;
    flex-wrap: wrap;
    height: 350px;
    min-height: 350px;
    width: 350px;
    min-width: 350px;
    border: solid 10px var(--brown-color);
}